<template>
	<div class="container">
		<div class="jumbotron">
			<h3>Welcome To Virtual Wallets</h3>
		</div>
		<div class="pageTotalWallets">
			<p>Current Wallets:{{total}} </p>
		</div>
	</div>
</template>

<script>
export default{
	data: function(){
		return{
			total:null
		};
		
	},
	methods: {
		getTotalWallets: function(){
			axios.get('api/wallets/count').then(response=>{this.total = response.data.walletCount}).catch(error =>{
				if (error.response) {
					console.log(error.response.data.message)
				}
			});
		}
	},
	mounted(){
		this.getTotalWallets();
	}
};
	
</script>

<style scoped>
	
</style>